<h1>Log do Cliente </h1>
<p-table [value]="logsDoCliente" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Data Hora</th>
            <th>Nome</th>
            <th>Sala</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-log>
        <tr>
            <td>{{ log.data }}</td>
            <td>{{ log.nome }}</td>
            <td>{{ log.sala }}</td>
            <td>{{ log.status }}</td>
            
        </tr>
    </ng-template>
</p-table>