<!-- <div class="conteudo">
    <h1 *ngIf="isInserindo">FORMULÁRIO CLIENTE</h1>
    <h1 *ngIf="!isInserindo">EDITANDO CLIENTE</h1>
    <form [formGroup]="form" (submit)="criaCliente()" *ngIf="form">          
        <div class="formulario-campo">
            <span class="p-float-label">
                <input id="nome" type="text" pInputText formControlName="nome" />
                <label htmlFor="username">Nome</label>
            </span>
        </div>
        <div class="formulario-campo">
            <span class="p-float-label">
                <p-inputMask mask="999.999.999-99" id="cpf" formControlName="cpf" placeholder="999.999.999-99"></p-inputMask>
                <label htmlFor="cpf">CPF</label>
            </span>
        </div>
        <div class="formulario-campo">
            <span class="p-float-label">
                <input id="idade" type="text" pInputText formControlName="idade" />
                <label htmlFor="idade">Idade</label>
            </span>
        </div>
        <div class="formulario-campo">
            <span class="p-float-label">
                <input id="endereco" type="text" pInputText formControlName="endereco" />
                <label htmlFor="endereco">Endereço</label>
            </span>
        </div>
        <div class="formulario-campo">
            <span class="p-float-label">
                <input id="telefone" type="text" pInputText formControlName="telefone" />
                <label htmlFor="telefone">Telefone</label>
        </span>
    </div>
    <div class="formulario-campo">
        <span class="p-float-label">
            <input id="gmail" type="text" pInputText formControlName="email" />
            <label htmlFor="gmail">Email</label>
        </span>
    </div>
    <p-button  *ngIf="isInserindo" label="Próxima Etapa" [loading]="loading" type="submit" [disabled]="form.invalid"></p-button>
    <p-button  *ngIf="!isInserindo" label="Próxima Etapa" [loading]="loading" type="submit" [disabled]="form.invalid"></p-button>
</form>
<p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
</div>  --> 

<div class="container">
    <div class="conteudo-formulario">
        <div class="titulo">
            <h1 *ngIf="isInserindo">FORMULÁRIO CLIENTE</h1>
        <h1 *ngIf="!isInserindo">EDITANDO CLIENTE</h1>
        </div>
        <div class="formulario">
            <form [formGroup]="form" (submit)="criaCliente()" *ngIf="form">
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="nome">Nome</label>
                        <input id="nome" type="text" pInputText formControlName="nome" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                        <label for="cpf">Cpf</label>
                        <input id="cpf" type="text" pInputText formControlName="cpf" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                        <label for="idade">Idade</label>
                        <input id="idade" type="text" pInputText formControlName="idade" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    </div>
                    <div class="field col">
                        <label for="telefone">Telefone</label>
                        <input id="telefone" type="text" pInputText formControlName="telefone" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        <label for="endereco">Endereço</label>
                        <input id="endereco" type="text" pInputText formControlName="endereco" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                        <label for="gmail">Email</label>
                        <input id="gmail" type="text" pInputText formControlName="email" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    </div>
                </div>
                <div>
                    <button pButton class="teste" styleClass="p-button-lg mr-2 mb-2 teste" *ngIf="isInserindo" label="Próxima Etapa" [loading]="loading" type="submit" [disabled]="form.invalid"></button>
                    <button pButton class="teste" styleClass="p-button-lg mr-2 mb-2 teste" *ngIf="!isInserindo" label="Próxima Etapa" [loading]="loading" type="submit" [disabled]="form.invalid"></button>
                </div>
            </form>
        </div>
        
    </div>
</div>


