<div class="conteudo">
    <h1 *ngIf="isInserindo">FORMULÁRIO CLIENTE</h1>
    <h1 *ngIf="!isInserindo">EDITANDO CLIENTE</h1>
    <form [formGroup]="form" (submit)="criaCliente()" *ngIf="form">          
        <div class="formulario-campo">
            <span class="p-float-label">
                <input id="nome" type="text" pInputText formControlName="nome" />
                <label htmlFor="username">Nome</label>
            </span>
        </div>
        <div class="formulario-campo">
            <span class="p-float-label">
                <p-inputMask mask="999.999.999-99" id="cpf" formControlName="cpf" placeholder="999.999.999-99"></p-inputMask>
                <label htmlFor="cpf">CPF</label>
            </span>
        </div>
        <div class="formulario-campo">
            <span class="p-float-label">
                <input id="idade" type="text" pInputText formControlName="idade" />
                <label htmlFor="idade">Idade</label>
            </span>
        </div>
        <div class="formulario-campo">
            <span class="p-float-label">
                <input id="endereco" type="text" pInputText formControlName="endereco" />
                <label htmlFor="endereco">Endereço</label>
            </span>
        </div>
        <div class="formulario-campo">
            <span class="p-float-label">
                <input id="telefone" type="text" pInputText formControlName="telefone" />
                <label htmlFor="telefone">Telefone</label>
        </span>
    </div>
    <div class="formulario-campo">
        <span class="p-float-label">
            <input id="gmail" type="text" pInputText formControlName="email" />
            <label htmlFor="gmail">Email</label>
        </span>
    </div>
    <div class="formulario-campo">
        <span class="p-float-label">
            <input id="urlFoto" type="text" pInputText formControlName="urlFoto" />
            <label htmlFor="urlFoto">Url da Foto</label>
        </span>
    </div>
    <p-button  *ngIf="isInserindo" label="Adcionar Cliente" [loading]="loading" type="submit" [disabled]="form.invalid"></p-button>
    <p-button  *ngIf="!isInserindo" label="Alterar Cliente" [loading]="loading" type="submit" [disabled]="form.invalid"></p-button>
</form>
<p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
</div>
