.listaDeClientes{
    background-color: yellow;
}

td{
    border: 1px solid rgba(210, 210, 210, 0.801) !important; 
    border-radius: 0px !important; //bom ser evitado
}

.PRESENTE{
    background-color: green;
    color: white;
    text-align: center;
}

.AUSENTE {
    background-color: rgb(244, 17, 17);
    color: white;
    text-align: center;
}


.header, td{
    border: 1px solid black;
    border-radius: 10px;
    -moz-border-radius: 5px;
    padding: 10px;
    
}

