<h1>Tabela de Clientes</h1>
<p-table [value]="listaDeClientes"  [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-cliente>
        <tr class="centralizada">
            <th>ID</th>
            <th>NOME </th>
            <th>TELEFONE</th>
            <th>CPF</th>
            <th>STATUS</th>
            <th><p-button (click)="abreLogDeCliente(cliente)" icon="pi pi-eye" styleClass="p-button-rounded p-button-secondary mx-2"></p-button><p-button label="ADCIONAR CLIENTE" (click)="abreFormulario()"styleClass="p-button-rounded p-button-success mx-2"></p-button> <p-button label="BUSCAR CLIENTE" (click)="abreBusca()" styleClass="p-button-rounded p-button-info mx-2"></p-button></th>
            
        </tr>
        <tr class="centralizada">
            <th></th>
            <th>
                <p-columnFilter type="text" matchMode="contains" [showMenu]="false" field="nome"></p-columnFilter>
            </th>
            <th></th>
            <th>
                <p-columnFilter type="text" matchMode="startsWith" [showMenu]="false" field="cpf"></p-columnFilter>
            </th>
            
            <th></th>
        </tr>
    
    </ng-template>
    <ng-template pTemplate="body" let-cliente>              
        <tr class="centralizada">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.cpf }}</td>
            <td style="text-align: center;" [ngClass]="cliente.statusDoCliente">{{ cliente.statusDoCliente }}</td>
            <td>
                <p-button (click)="clienteComoAusente(cliente)" *ngIf="cliente.statusDoCliente == 'PRESENTE'" icon="pi pi-bell" styleClass="p-button-rounded p-button-primary mx-2"></p-button>
                <p-button (click)="editaCliente(cliente)" icon="pi pi-pencil" styleClass="p-button-rounded p-button-warning mx-2"></p-button>
                <p-button (click)="abreModalParaRemoverCliente(cliente)" icon="pi pi-times" styleClass="p-button-rounded p-button-danger mx-2"></p-button>
                <p-button (click)="abreModalDeInformacoesCliente(cliente)" icon="pi pi-external-link" label="Show"></p-button>
            <app-clientes-sala-formulario *ngIf="cliente.statusDoCliente == 'AUSENTE'"
            (atualizarListaEventEmmitter)="atualizaListaClientes()"
            [idCliente]="cliente.id"></app-clientes-sala-formulario>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-toast></p-toast>
<p-confirmDialog #cd [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <h3>AVISO</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
        
    </ng-template>
</p-confirmDialog>
<p-dialog header="Header" [(visible)]="modalInformacoesClienteVisible" [style]="{ width: '50vw' }"  >
    <p>
        <span class="mx-2"><strong>NOME: </strong></span>{{clienteSelecionado?.nome}}
    </p>
    <p>
        <span class="mx-2"><strong>IDADE: </strong></span>{{clienteSelecionado?.idade}}
    </p>
    <P>
        <span class="mx-2"><strong>TELEFONE: </strong></span>{{clienteSelecionado?.telefone}}
    </P>
    <p>
        <span class="mx-2"><strong>CPF: </strong></span>{{clienteSelecionado?.cpf}}
    </p>
    <p>
        <span class="mx-2"><strong>EMAIL: </strong></span>{{clienteSelecionado?.email}}
    </p>
</p-dialog>

